@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  min-height: 100vh;
  background-color: #ffe8cf;
}

.items {
  display: flex;
  justify-content: center;
}

.benefits {
  margin: 7rem;
}

.benefits .logo {
  text-align: center;
  margin-bottom: 4rem;
}

.benefits .logo img {
  box-shadow: 1rem 2rem 2.5rem rgba(0, 0, 0, 0.3);
}

.benefits ul li {
    background: #fcdcbc;
    margin-bottom: 4rem;
    padding: 2rem;
    box-shadow: 1rem 2rem 2.5rem rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    gap: 1rem;
}

.form .registro-datos {
  box-shadow: 1rem 2rem 2.5rem rgba(0, 0, 0, 0.3);
  margin: 7rem 7rem;
  padding: 5rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
  margin-right: 1rem;
  width: 720px;
  background: #ffd3a7;
}

.form .registro-datos .logo {
  text-align: center;
}

.form .registro-datos label {
  font-weight: 900;
  color: #4b3020;
  font-size: 1.3rem;
}

.form .txtfield {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  border: 2px solid #c7c7c7;
}

.form .number {
  display: flex;
  align-items: center;
}

.form .number span {
  font-weight: 600;
  color: #555;
}

.form .number input {
  margin-left: 10px;
}

.form .registro-datos ul {
  margin-bottom: 1rem;
  color: #ff2e2e;
}

.form .registro-datos ul li {
  font-size: 0.7rem;
}

.form .registro-datos .terminosycondiciones {
  margin-top: 1rem;
}

.form p {
  font-size: 0.9rem;
  text-align: justify;
}

.form a {
  color: #f36d00;
  font-weight: bolder;
}

.form .register-box {
  text-align: center;
}

.form .register-box .register {
  font-weight: 900;
  padding: 12px 30px;
  color: #fff;
  background: #f36d00;
  border-radius: 30px;
  font-size: 15px;
  border: 2px solid transparent;
  transition: all 0.4s ease;
  width: 180px;
  text-align: center;
  margin-top: 16rem;
}

.form .register-box .register:hover {
  background: #8c4109;
}

.form .TengoCuenta {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form select {
  width: 100%;
  padding: 0.2rem 0.3rem;
  border-radius: 10px;
  border: 2px solid #3d1d06;
  background: #d4c0b2;
  margin-top: 0.5rem;
}

.form input[type="password"] {
  margin-bottom: 0;
}

.form input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 2px solid #f36d00;
  appearance: none;
  cursor: pointer;
  margin-right: 10px;
  vertical-align: middle;
}

.form input[type="checkbox"]:checked {
  background-color: #f36d00;
}

.form input[type="checkbox"] + label {
  display: flex;
  align-items: center;
}

.footer {
  background: #4e2406;
  padding: 2rem 10%;
  align-items: center;
}

.footer .items {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  padding: 0rem 3rem;
}

.footer .items .item {
  flex: 1 1 25rem;
}

.footer .items .item h3 {
  color: #ffd391;
  font-size: 1.5rem;
  padding: 2rem 0;
}

.footer .items .item a {
  display: block;
  color: #fff;
  font-size: 1rem;
  padding: 1rem 0;
}

.footer .items .item a:hover {
  color: #f7d61d;
  text-decoration: underline;
}

.footer .creditos {
  text-align: center;
  padding: 1.5rem;
  margin-top: 1.5rem;
  padding-top: 2.5rem;
  font-size: 1.5rem;
  color: #c4c4c4;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.3);
}

.footer .creditos span {
  color: #ff9900;
}
